<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuyh.common">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PullToRefreshActivity"
            android:label="@string/title_activity_pull_to_refresh" />
        <activity
            android:name=".SwipeBackActivity"
            android:label="@string/title_activity_swipe_back" />
        <activity
            android:name=".CustomEditTextActivity"
            android:label="@string/title_activity_custom" />
        <activity
            android:name=".CircleProgressActivity"
            android:label="@string/title_activity_circle_progress" />
        <activity
            android:name=".TagImageViewActivity"
            android:label="@string/title_activity_tag_image_view" />
        <activity
            android:name=".CheckButtonActivity"
            android:label="@string/title_activity_check_button"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GifViewActivity" />
        <activity android:name=".LoaddingActivity"></activity>
    </application>

</manifest>
